<%inherit file="base.html" />

<%def name="stats()"></%def>

<%def name="title_path()">
> About
</%def>

<%def name="body()">
<h2>About</h2>
                <hr />
                <div align="center">
                    <br /><br />
                    <a href="http://jukebox.bunghole.com.br" target="_blank" title="Bunghole Jukebox">

                    <img src="/images/bunghole_jukebox.png" border="0" /><br />http://jukebox.bunghole.com.br</a><br />
                        <p>Bunghole Jukebox is a web interface to your MP3 collection.<br>
                        Use it to access your music collection wherever you are,<br>
                        publish in your website/blog and share with friends.<br>
                        You will can show your collection for anybody, from anywhere.</p>
                </div>

                <br /><br /><br /><br /><br />Authors:<br />
                <a href="http://felipe.bunghole.com.br" target="_blank">Felipe Nogaroto Gonzalez</a><br />
                <a href="http://thiago.bunghole.com.br" target="_blank">Thiago Coutinho</a><br /><br />
                <a href="http://jukebox.bunghole.com.br" target="_blank">Bunghole Jukebox</a> it's another product of the organization
                <a href="http://www.bunghole.com.br" target="_blank">Bunghole S/A</a>.

</%def>
    
