<%inherit file="base.html" />

<%def name="stats()"></%def>

<%def name="title_path()">
> <a href="/artist/${musics[0]['artist_name']}">${musics[0]['artist_name']}</a> > (${musics[0]['album_year']}) ${musics[0]['album_name']}
</%def>

<%def name="body()">
    <h2>${musics[0]['artist_name']}</h2>
    <hr /><br />
        <table align="center" style="width: 95%">
            <tr>
                <td style="vertical-align: top; padding: 10px; width: 20%">
                    <img src="${cover}" alt="${musics[0]['album_year']}" title="${musics[0]['album_year']}" width="300px" class="reflex iopacity50" />
                </td>
                <td style="vertical-align: top; padding: 20px;">
                    <table cellspacing="0" cellpadding="2" align="center" width="100%">
                        <% row = 1 %>
                        % for music in musics:
                        <%
                        if row == 1:
                           row = 0
                        else:
                           row = 1
                        %>
                        <tr class="zebra${row}">
                            <td width="1px">${music['track']}</td>
                            <td style="width: 50%; text-align: left;">${music['name']}</td>
                            <td class="tabrow">${music['bitrate']} kbps</td>
                            <td class="tabrow">${music['length']}</td>
                            <td class="tabrow">${music['size']}</td>
                        </tr>
                        % endfor
                        <tr class="zebra_total">
                            <td colspan="3" style="text-align: left;">Total</td>
                            <td class="tabrow">{total_time}</td>
                            <td class="tabrow">{total_size}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</%def>


